<!DOCTYPE html>

<html>
    <head>
    <title>Resoledge Games</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/tools/asset/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/tools/asset/js/ori.4.js"></script>
    <script src="/tools/asset/js/vrview.min.js"></script>
    </head>
    <body>
        <header class="container">     
          <div class="row">
               <div class="col-sm-3" id="headermenu"> 
                 <h1 id="headerm" style="text-transform: uppercase; font-size: 30px;"> G A M E S</h1>
                 <div id="headerm2">
                     <a href="/">Home</a>
                 </div>
             </div>
             <nav class="col-sm-3 text-left" id="headermenu"> 
                {{if .AuthEnabled}} <!-- this means if authentication is enabled for the application-->
                {{if .User}}<!-- and the user session is profiled for the user --> 
                {{if eq "Admin" .User.Level}} 
                <p id="home"><a href="/users/list">Users</a></p>
                <p id="home"><a href="/games">Games</a></p>
            {{else}}  
            <p id="home"><a href="/games">Games</a></p>
            {{end}}
            {{end}}
            {{end}}          
        </nav>
        <div class="col-sm-3" id="headermenu">
            <form>
            <input type="text" id="search" name="search" placeholder="Search...">
            </form>
        </div>
        <div class="col-sm-3 text-right" id="headermenu">
            <!-- [START auth] -->
            {{if .AuthEnabled}} 
            {{if .User}}   
          <form method="post" action="{{.LogoutURL}}" id="log" style="padding: 0">
          <button class="btn btn-default">Log out</button>
          </form>
          <div id="log">
            {{if .User.ImageURL}}
               <img class="img-circle" width="27" height="27" src="{{.User.ImageURL}}">
           {{end}}
           <span>{{.User.DisplayName}}</span>
        </div>
        {{else}}
        <p id="log"><a id="myLink1" href={{.LoginURL}}><span class="glyphicon glyphicon-log-in"></span> Login</a></a></p>
        <p id="log"><a id="myLink2" href={{.SignupURL}}><span class="glyphicon glyphicon-user"></span> Sign Up</a></p>
        {{end}}
       {{end}}
             <!-- [END auth] -->
            </div>
        </div>
      </header>
      
      {{template "body" .Data}}
    
    </body>
</html>