<div class="container" id="game">
    <div id="header" class="span-24">
      <p>Play Guess A Letter Game</p>
    </div>
    <div class="span-24">
        <h2>Guess a letter</h2>
        {{$Result := .UserGui.GuessALetter .Letter .Game_id}}
        
        {{if eq  "true" $Result.JustStarted}} <!--if game has started-->                             
          {{if eq "true" $Result.Invalid}}   <!--if guessed letter is invalid-->
            <br>
            <p class="error">Invalid Input, use only Letters</p>
            <br>
            Wrong Guesses:              
              <span class="guesses">{{printf "%s" $Result.WrongGuesses}}</span >
              <br>  <br>
            Word So Far:
            <span class="word">{{printf "%s" $Result.WordSoFar}}</span >
            <br> <br>
          {{else}} <!--if guessed letter is a valid letter-->
            {{if $Result.WrongGuesses}}
            <br>
                Wrong Guesses:               
                  <span class="guesses">{{printf "%s" $Result.WrongGuesses}}</span >
                    <br>  <br>
                Word So Far:
                  <span class="word">{{printf "%s" $Result.WordSoFar}}</span > 
                  <br> <br>
            {{else}}
            <br>
                Wrong Guesses:  
                  <span class="guesses">{{printf "%s" $Result.WrongGuesses}}</span >
                    <br> <br>
                Word So Far:
                  <span class="word">{{printf "%s" $Result.WordSoFar}}</span > 
                  <br> <br>
            {{end}} <!--end if wrong or right guess-->
            
            {{if eq 7 $Result.Count}}
            <div class="span-24">  <!--Takes care of end of game (Win or loss)  -->                           
                <h1>Sorry, You LOSE!</h1>
                <p>The word was <span class="win">{{$Result.CorrectWord}}</span></p>
            </div>
            {{end}} <!--end if 7 wrong guesses-->
            
            {{if $Result.WinOrLose}}
            <div>
                <h1>Congratulations <span>{{printf "%s" $Result.Playername}}</span>! You WIN!!!</h1>
                <p>The word is <span class="win">{{$Result.CorrectWord}}</span></p>
           </div>
           {{end}}
          {{end}}  <!-- ends validity-->
        {{else}} <!-- if not started or empty guess-->
            <br>
            Wrong Guesses:              
              <span class="guesses">{{printf "%s" $Result.WrongGuesses}}</span >
                  <br> <br>
            Word So Far:
            <span class="word">{{printf "%s" $Result.WordSoFar}}</span > 
            <br> <br>
        {{end}} <!--end JustStarted-->
        
        {{if eq "true" $Result.GameOver}}<!--do nothing-->{{else}}
            <form class="game" action="/games/guess" method="post">
                <input type="text" size="1" maxlength="1" name="guessedletter" autocomplete="off" value="{{$Result.GuessedLetterS}}">
                <input type="submit" value="Guess!">
                <br>
                <input type="hidden" name="playername" value="{{$Result.Playername}}">
                <input type="hidden" name="playerid" value="{{$Result.PlayerID}}">
                <input type="hidden" name="id" value="{{$Result.ID}}">
                <input type="hidden" name="wordsofar" value="{{$Result.WordSoFarS}}">
                <input type="hidden" name="wrongguesses" value="{{$Result.WrongGuesses}}">
                <input type="hidden" name="invalid" value="{{$Result.Invalid}}">
                <input type="hidden" name="juststarted" value="{{$Result.JustStarted}}">
                <input type="hidden" name="gameover" value="{{$Result.GameOver}}">
            </form>
        {{end}}

        <form class="game" method="get" action="/games/start">
        <input type="submit" name="start" value="Reset Game">
        </form>

        <!--{{if eq  "true" $Result.JustStarted}} 
            <form class="game" method="post" action="/games/save">
                    <input type="hidden" name="guessedletter" value="{{$Result.GuessedLetterS}}">
                    <input type="hidden" name="playerid" value="{{$Result.PlayerID}}">
                    <input type="hidden" name="playername" value="{{$Result.Playername}}">
                    <input type="hidden" name="wordsofar" value="{{$Result.WordSoFarS}}">
                    <input type="hidden" name="wrongguesses" value="{{$Result.WrongGuesses}}">
                    <input type="hidden" name="invalid" value="{{$Result.Invalid}}">
                    <input type="hidden" name="gameover" value="{{$Result.GameOver}}">                    
                    <br><br>
                <button type="submit" class="btn btn-success">Save</button>
            </form>
        {{end}}-->
    </div> 
</div> 