

    <div class="parent-alert-box" >
        {{if .Errors}}
        <div class="signup-alert signup-alert-warning">
            {{range .Errors}}
            <div>
            <strong>Warning! </strong> {{.}}
            </div>
              {{end}}
        </div>  
        {{end}}
         <div class="mcover"  {{if .Errors}}style="margin: 0 30% 0 0;"{{end}}>
                <div class="momain">
                    <div class="modal-header2" style="padding: 1px 50px;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4><span class="glyphicon glyphicon-lock"></span> Sign Up</h4>
                    </div>

                    <div class="modal-body2" style="padding:5px 50px;color: #1c1c1c;">
                        <form action="/signup" method="post" role="form">
                            <div class="form-group">
                                <label for="firstname">First Name</label>
                                <div><input name="firstname" value="{{.Firstname}}" type="text" class="form-control" id="firstname" maxlength="48" placeholder="First Name" /></div>
                            </div>
                            
                            <div class="form-group">
                                <label for="lastname">Last Name</label>
                                <div><input name="lastname" value="{{.Lastname}}" type="text" class="form-control" id="lastname" maxlength="48" placeholder="Last Name" /></div>
                            </div>
                            
                            <div class="form-group">
                                <label for="email">Email</label>
                                <div><input name="email" value="{{.Email}}" type="email" class="form-control" id="email" maxlength="48" placeholder="Email" /></div>
                            </div>

                            <div class="form-group">
                                <label for="username">Username</label>
                                <div><input name="username" value="{{.Username}}" type="text" class="form-control" id="username" maxlength="48" placeholder="Username" /></div>
                            </div>
                            
                            <div class="form-group">
                                <label for="password">Password</label>
                                <div><input name="password" value="{{.Password}}" type="password" class="form-control" id="password" maxlength="48" placeholder="Password" /></div>
                            </div>
                            
                            <div class="form-group">
                                <label for="passwordVerify">Verify Password</label>
                                <div><input name="passwordVerify" value="{{.PasswordVerify}}" type="password" class="form-control" id="passwordVerify" maxlength="48" placeholder="Verify Password" /></div>
                            </div>
                            
                            <input type="submit" value="Create Account" class="btn btn-success btn-block" />
                            <input type="hidden" name="sessionid" value="{{.ID}}">
                        </form>
                        <p style="display: flex; justify-content: center; padding: 20px 0px 0px;">
                            <a class="btn btn-info" style="color:white; background-color: #286090; text-transform: none;" href={{.LoginURL}} role="button">Or Login with <img src="/tools/asset/images/G_is_For_Google_New_Logo_Thumb.png" style="width: 60px;"></a>
                        </p>
                    </div>

                    <div class="modal-footer2" style="color: #1c1c1c;">
                        <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                        <p style="display: flex; justify-content: flex-end;">Not a member? <a  id="loginMenu" href="#">Sign Up</a></p>
                        <p style="display: flex; justify-content: flex-end;">Forgot <a id="loginMenu" href="#">Password?</a></p>
                    </div>
                </div> 
         </div>
    </div>
           



